* {
  margin: 0;
  padding: 0;
  font-family: "Kompeni";
  letter-spacing: 1px;
}
body {
  overflow-x: hidden;
  background: #000;
}
@font-face {
  font-family: "Kompeni";
  src: url("/fonts/KOMPENI-REGULAR.TTF");
}
h2 {
  font-size: 18px;
  line-height: 2;
  text-align: center;
  color: #fff;
}
h1 {
  font-family: "Kompeni";
  font-style: normal;
  font-size: 30px;
  line-height: 2;
  color: #fff;
  text-align: center;
}
button {
  background: linear-gradient(97.73deg, #97e90e 6.52%, #68bd09 81.48%);
  border-radius: 5px;
  padding: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  border: 0;
  margin-top: 10px;
  width: 100%;
  max-width: fit-content;
}
